/* your custom css */

@media only screen and (min-device-width: 360px) and (max-device-width: 736px) {
}

@media only screen and (min-width: 1024px) {
}

@media only screen and (max-width: 1023px) {
}

@media only screen and (min-width: 1400px) {
}

@media only screen and (min-width: 1500px) {
}

html *:not(.hljs, .hljs-built_in, .hljs-code, .hljs-bullet, .hljs-addition) {
    font-family: "Open Sans", "Roboto", "Serif"
}
/* Button font won't work if not separated */
a.button {
    font-family: "Open Sans", "Roboto"
}

a:hover {
    color: #ff6f00;
    text-decoration: none;
}

.darkBackground a:not(:hover) {
    color: #1565c0;
}

/* Docs markdown images size */
article img, article p img {
    max-width: 250px;
    max-height: 80px;
}

.button {
    text-transform: none;
    padding: 1em;
    border-radius: 7px;
}

.promoSection .button {
    margin: 0.5em;
    font-size: 20px;
    border-width: 2px;
    font-weight: 600;
}

/* Resize index.js image */
.imageAlignSide .blockImage {
    flex: 0 1 700px;
    max-width: 700px;
}

.imageAlignTop .blockImage {
    max-width: 100%;
}
.gridBlock .fourByGridBlock img {
    max-height: 100px;
}

/* .button {
    position: relative;
    min-width: 5em;
    border-radius: 5em;
    margin: 0.5em;
    padding: 1em;
    text-align: center;
    transition: all 0.2s;
    background: transparent;
    border-color: #5645F5;
    color: #5645F5;
} */